<section class="login-content">

    <div class="container">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="center center">
            <div fxFlex="30%">

                <form class="login-form">
                    <div class="login-body">
                        <mat-form-field class="custm-form-filed">
                            <input matInput placeholder="Name">
                        </mat-form-field>
                        <mat-form-field class="custm-form-filed">
                            <input matInput type="password" placeholder="password">
                        </mat-form-field>
                        <a class="btn-submit" mat-button [routerLink]="['/control-panel']" routerLinkActive="router-link-active">submit</a>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>