<mat-drawer-container class="control-panel-content" autosize>
    <mat-drawer #drawer class="side-nav" mode="side" opened>

        <a [routerLink]="['dashboard']" routerLinkActive="router-link-active" mat-button>Dashboard</a>
        <a [routerLink]="['category']" routerLinkActive="router-link-active" mat-button>Category</a>

    </mat-drawer>

    <div class="custm-panel-body">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button type="button" mat-button (click)="drawer.toggle()">
                    Toggle sidenav
                  </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <!-- route content here -->
        <router-outlet></router-outlet>

    </div>

</mat-drawer-container>