/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
    padding: 0;
    a {
        text-decoration: none
    }
    ul,
    li {
        list-style: none;
    }
    .login-content {
        width: 100%;
        height: 100vh;
        background-image: url(./assets/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .login-form {
            display: flex;
            flex-flow: column;
            justify-content: center;
            height: 100vh;
            .login-body {
                background: rgba(255, 255, 255, 0.5411764705882353);
                width: 100%;
                padding: 20px 40px;
                .custm-form-filed {
                    width: 100%;
                }
                a.btn-submit {
                    background: #4d7f88;
                    color: #fffefe;
                }
            }
        }
    } // control panel body 
    mat-drawer-container.control-panel-content {
        min-height: 100vh;
        mat-drawer.side-nav {
            width: 200px;
            a {
                display: block;
                text-align: left;
            }
        }
    }
}